<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stats - Placements Management Web App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <h1>Stats</h1>
    </div>
    <div th:replace="fragments/alerts :: alerts"></div>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center">Registered Users</h2>
            <div id="usersPieChartArea"></div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Administrator</th>
                    <td th:text="${adminCount}"></td>
                </tr>
                <tr>
                    <th scope="row">Member of Provider</th>
                    <td th:text="${mOPCount}"></td>
                </tr>
                <tr>
                    <th scope="row">Tutor</th>
                    <td th:text="${tutorCount}"></td>
                </tr>
                <tr>
                    <th scope="row">Student</th>
                    <td th:text="${studentCount}"></td>
                </tr>
                <tr>
                    <th scope="row">Graduate</th>
                    <td th:text="${graduateCount}"></td>
                </tr>
                <tr>
                    <th scope="row">ALL</th>
                    <td th:text="${adminCount + mOPCount + tutorCount + studentCount + graduateCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Counts</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Entity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Authorisation Requests</th>
                    <td th:text="${requestsCount}"></td>
                </tr>
                <tr>
                    <th scope="row">Placements</th>
                    <td th:text="${placementsCount}"></td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h2 class="text-center">Exports (as .csv)</h2>
            <a class="btn btn-primary btn-bottom-margin btn-block" href="/export/stats/placements">Export Placement Stats</a>
            <a class="btn btn-primary btn-bottom-margin btn-block" href="/export/stats/requests">Export Authorisation Request Stats</a>
            <a class="btn btn-primary btn-bottom-margin btn-block" href="/export/stats/users">Export User Stats</a>
            <a class="btn btn-primary btn-bottom-margin btn-block" href="/export/placements">Export Placements</a>
            <a class="btn btn-primary btn-bottom-margin btn-block" href="/export/requests">Export Requests</a>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {
        packages: ['corechart']
    });

    google.charts.setOnLoadCallback(drawUsersChart);
    window.onresize = drawUsersChart;

    function drawUsersChart() {
        let data = new google.visualization.arrayToDataTable([
            ['Role', 'Count'],
            ['Administrator', [[${adminCount}]]],
            ['Member of Provider', [[${mOPCount}]]],
            ['Tutor', [[${tutorCount}]]],
            ['Student', [[${studentCount}]]],
            ['Graduate', [[${graduateCount}]]]
        ]);

        let options = {
            height: 300,
            legend: {
                position: 'none'
            }
        };

        let pieChart = new google.visualization.PieChart(document.getElementById('usersPieChartArea'));
        pieChart.draw(data, options);
    }

</script>
<!-- Firebase JS SDK -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-messaging.js"></script>
<script src="/firebase-config.js"></script>
<script src="/js/firebase-messaging.js"></script>
</body>
</html>