<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messaging - Placements Management Web App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center">Messages</h1>
        </div>
    </div>
    <div th:replace="fragments/alerts :: alerts"></div>
    <div class="row justify-content-center" id="enableNotificationsAlert" hidden>
        <div class="alert alert-warning">Enable notifications in your browser for full messaging functionality.</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md text-center">
            <!-- Bootstrap Icons: chat-dots-fill, https://icons.getbootstrap.com/icons/chat-dots-fill/.
                 Copyright (c) 2019-2020 The Bootstrap Authors.
                 Licensed under the MIT License (https://github.com/twbs/icons/blob/main/LICENSE.md). -->
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#0067B0" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <hr/>
            <p>Start a conversation with another user of the application, by clicking the button below. Access existing
            conversations from the table.</p>
            <p th:if="${user.getRole().toString().equals('ADMINISTRATOR')}">As an administrator, you are permitted to
            initiate a conversation with any user of the application.</p>
            <a class="btn btn-primary btn-block btn-bottom-margin" href="/messaging/new">Start New Conversation</a>
        </div>
        <div class="col-md">
            <p class="text-center" th:if="${latestMessageList.isEmpty()}">No active conversations...</p>
            <div class="table-responsive">
                <table class="table table-hover" th:if="${!latestMessageList.isEmpty()}">
                    <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Latest Message</th>
                        <th scope="col">Last Activity At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="message : ${latestMessageList}">
                        <tr class="clickable" th:unless="${message.getSender() == user}"
                            th:href="${'/messaging/user/' + message.getSender().getUsername()}">
                            <th scope="row" th:text="${message.getSender().getUsername()}"></th>
                            <td class="text-break" th:text="${message.getSender().getUsername() + ': ' + message.getContent(encryptPassword)}"></td>
                            <td th:text="${message.getTimestamp().toString().replace('T', ', ')}"></td>
                        </tr>
                        <tr class="clickable" th:unless="${message.getRecipient() == user}"
                            th:href="${'/messaging/user/' + message.getRecipient().getUsername()}">
                            <th scope="row" th:text="${message.getRecipient().getUsername()}"></th>
                            <td class="text-break" th:text="${message.getSender().getUsername() + ': ' + message.getContent(encryptPassword)}"></td>
                            <td th:text="${message.getTimestamp().toString().replace('T', ', ')}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/request-row-link.js"></script>
<!-- Firebase JS SDK -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-messaging.js"></script>
<script src="/firebase-config.js"></script>
<script src="/js/firebase-messaging.js"></script>
</body>
</html>